@import url("https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");

html {
  scroll-padding-top: 100px; /* Set this to my navbar's height + a little extra */
}

body {
  font-family: "Sour Gummy", sans-serif;
  font-size: 24px;
  margin: auto;
  text-align: center;
  color: white;
  background-color: #fedcdb;
}

.projects a{
  text-decoration: none;
  color:#fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contacts a{
  text-decoration: none;
  color:transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bg-rectangle {
  position: fixed;
  top: 0;
  left: 5%;
  width: 10%;
  height: 100%;
  background-color: white;
  z-index: -1;
}

.bg-rectangle2 {
  position: fixed;
  top: 0;
  left: 25%;
  width: 10%;
  height: 100%;
  background-color: white;
  z-index: -1;
}

.bg-rectangle3 {
  position: fixed;
  top: 0;
  left: 45%;
  width: 10%;
  height: 100%;
  background-color: white;
  z-index: -1;
}

.bg-rectangle4 {
  position: fixed;
  top: 0;
  left: 65%;
  width: 10%;
  height: 100%;
  background-color: white;
  z-index: -1;
}

.bg-rectangle5 {
  position: fixed;
  top: 0;
  left: 85%;
  width: 10%;
  height: 100%;
  background-color: white;
  z-index: -1;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  margin-top: 20px;
  text-align: center;
}

section,
header,
footer {
  margin: 20px;
  padding: 20px;
  background-color: #feb1b7;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects h3,
p {
  margin: 0.75em 0 0.5em 0;
}
h2 {
  margin: 0.75em 0 0.5em 0;
  font-size: 50px;
}

header {
  margin: 140px;
}
h1 {
  font-size: 100px;
  margin: 0;
}
h2 {
  font-size: 50px;
  margin: 8px;
}
header p {
  margin: 5px;
}

nav {
  position: fixed;
  top: 10px;
  left: 0;
  right: 0;
  width: 60%;
  display: flex;
  padding: 20px 0 20px 0;
  background-color: #fd788b;
  border-radius: 20px;
  margin: auto;
  justify-content: center;
  z-index: 1000;
}
nav ul {
  display: flex;
  justify-content: center; 
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
nav li {
  display: inline;
  margin: 0 20px;
}
nav li a {
  color: white;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  background-color: #febecc;
  border-radius: 20px;
  transition: 0.3s;
}

nav li a:hover {
  background-color: #fe6694;
  border-radius: 20px;
}

header .circle-frame {
  width: 310px;
  height: 310px;
  border-radius: 50%;
  background-color: white;
  border: 5px solid #fe6694;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .circle-frame img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border-color: white 5px solid;
  overflow: hidden;
  margin: auto;
}

.main ul {
  list-style-type: none;
  padding: 0;
}

.education,
.experience,
.skills,
.about {
  margin: 20px;
  padding: 20px;
  width: 60%;
  background-color: #feb1b7;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.job ul{ 
  list-style-type: none;
}

.about-education-row {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 30px;
}

.about, .education {
  width: 30%;
  height: 30em;
  flex-direction: column;
}


.skills ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
  flex-wrap: wrap;
  gap: 20px;
}

.skills li {
  display: flex;
  width: 8em;
  height: 8em;
  padding: 10px;
  background-color: #ff959e;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  transition: 0.3s;
}
.skills li:hover {
  border-radius: 20px;
  transform: scale(1.05);
}

.projects {
  margin: 20px;
  padding: 20px;
  width: 80%;
  background-color: #feb1b7;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-container {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
}

.project-item {
  margin: 0 2em 1em;
  padding: 20px;
  background-color: #ff959e;
  border-radius: 20px;
  width: 15em;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s;
}

.project-item:hover {
  background-color: #ff3b76;
  border-radius: 20px;
  transform: scale(1.05);
}

.cropped {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 10%;
  border: 5px solid #fe6694;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cropped2 {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 10%;
  border: 5px solid #fe6694;
  display: flex;
  justify-content: left;
  align-items: center;
}

.project-item img {
  height: 14em;
  width: 28em;
  display: block;
  margin: 0 auto;
}

.urls {
  width: 50%;
  margin: auto;
}

.urls a {
  filter: brightness(0) invert(1);
}
